@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  place-items: center;
}

.months {
  margin-top: 10px;
  padding: 1.5rem;
  width: 10rem;
  background-color:rgba(142, 255, 94, 0.62);
  color: white;
  font-size: 1.8rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(151, 244, 63, 0.46);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.months:hover {
  transform: scale(1.05);
  background-color: #66bb6a;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .btn-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .months {
    width: 9rem;
    padding: 1.2rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .btn-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
  }

  .months {
    width: 8rem;
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .btn-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .months {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
  }
}
