.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  place-items: center;
}

.months {
  margin-top: 10px;
  padding: 1.5rem;
  width: 10rem;
  background-color:rgba(142, 255, 94, 0.62);
  color: white;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(151, 244, 63, 0.46);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.months:hover {
  transform: scale(1.05);
  background-color: #66bb6a;
  cursor: pointer;
}

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/* Loading Screen */
.initial-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #051711;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #77e9bb;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

.loader-circle {
  border: 5px solid #77e9bb;
  border-top: 5px solid transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .btn-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .months {
    width: 9rem;
    padding: 1.2rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .btn-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
  }

  .months {
    width: 8rem;
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .btn-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .months {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
  }
}
