@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.trendsPage {
  position: relative;
  min-height: 100vh;
  color: #fff;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  overflow-x: hidden;
}

.trendsHeading {
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(114, 250, 154);
}

/* Start Charts */

.chartContainer {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px rgba(28, 255, 122, 0.5);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.chartTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #bbf7d0;
}

/* End Charts */

/* Start Analysis */

.trendAnalysis {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  margin: 3rem auto;
  border-radius: 12px;
  max-width: 1000px;
  backdrop-filter: blur(6px);
  color: white;
}

.analysisTitle {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #86efac;
  text-align: center;
}

.analysisItem {
  margin-bottom: 1.5rem;
  background-color: rgba(24, 90, 50, 0.5);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
}

.recharts-wrapper {
  margin: 0 auto;
}

/* End Analysis */

/* Start Responsive */

@media (max-width: 768px) {
  .trendsHeading {
    font-size: 2.2rem;
  }

  .chartTitle {
    font-size: 1.4rem;
  }

  .chartContainer {
    padding: 1rem;
  }
}
