@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.loginss {
  background: rgba(6,49,36,1);
  height: 100vh;
  color: white;
}
.loginText-container {
  margin-right: 4rem;
  margin-top: 5rem;
}

.loginContainer {
  padding-left: 10rem;
  display: flex;
  flex-wrap: wrap;
}

.sign {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.loginFormContainer {
  width: 30rem;
}

.loginEmail {
  display: block;
  font-size: 2rem;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 4rem;
}

.loginEmailInput {
  margin-top: 1rem;
  padding: 10px;
  border-radios: 50px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
}

.two {
  padding: 2rem 3rem;
  text-transform: uppercase;
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none;
}

.loginButton {
  padding: 10px;
  background: rgb(34, 132, 93);
  border: none;
  border-radius: 25px;
  height: 3rem;
  width: 8rem;
  margin-top: 4rem;
  color: rgb(119, 233, 187);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.loginButton:hover {
  cursor: pointer;
}

.newUserContainer {
  margin-top: 4rem;
}

.newUsers {
  color: white;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.registerLink {
  color: rgb(119, 233, 187);
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
