.loginBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
  color: white;
}

.loginContainer {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
}

.loginText-container {
  margin: 0 auto;
}

.sign {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.loginFormContainer {
  width: 100%;
}

.loginContainers {
  margin-bottom: 0.5rem;
}

.loginEmail {
  font-size: 1.2rem;
  display: block;
  margin-bottom: -1rem;
}

.loginEmailInput {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
}

.loginButton {
  margin-top: 0.2rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #22845d;
  color: #77e9bb;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

.loginButton:hover {
  background-color: #56b991;
  color: #051711;
}

.registerLink {
  color: #77e9bb;
  font-weight: bold;
  font-size: 1.5rem;
}

.newUserContainer {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}