@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.registerBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
  color: white;
}

.registerContainer {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
}

/* Start Register Inputs */

.registerText {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2rem;
}

.formContainer {
  width: 100%;
}

.registerNameLabel {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
}

.registerNameInput {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  border-radius: 8px;
  font-size: 1.3rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
}

/* End Register Inputs */

/* Start Submit button */

.submitButton {
  margin-top: 2rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #22845d;
  color: #77e9bb;
  font-size: 1.2rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submitButton:hover {
  background-color: #56b991;
}

/* End Submit button */

/* Start Redirect */

.alreadyUser {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.redirectUserRegister {
  color: #77e9bb;
  font-weight: bold;
  margin-left: 0.5rem;
}

/* End Redirect */